.backgroundMain{
background: lightgreen;
height: 100%;
width: 100%;
z-index: 0;
}

.main-box{
    background: lightgrey;
    height: 110px;
    width: 100%;
}

.h1{
    color: lightcoral;
    size: 10px;
}

.nav-buttons{
    position: relative;
    float: right;
    background:  transparent;
}

.button1{
    color: black;
    background: lightseagreen;
}

.button2{
    color: lightseagreen;
    background: black;
}

.button3{
    color: black;
    background: lightseagreen;
}

.button4{
    color: lightseagreen;
    background: black;
}

.button5{
    color: black;
    background: lightseagreen;
    padding-right:  5px;
}

.main-web-body{
    background: lightseagreen;
    height: 560px;
    position: absolute;
    width: 98%;
}

.web-bottom{
    background: black;
    position: absolute;
    top: 691px;
    width: 98%;
}

.h3{
    color: lightseagreen;
}

#product1{
    display: inline-flex;
}

#product2{
    display: inline-block;
}

#product3{
    display: inline-block;
}

#product4{
    display: inline-block;
}

#product5{
    display: inline-block;
}

.pictures{
    padding: 10px;
    display: inline;
}